main.contact{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
.contact img {
    width: 100%; 
    height: auto; 
    max-width: 600px; 
    display: block; 
    margin: 20px auto; 
    border-radius: 8px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 21.1); 
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
.contact img:hover {
    transform: scale(1.05);  
}
.contact hr {
    margin: 40px 0;
    border: 0;
    border-top: 1px solid #ccc;
}