.gallery {
    display: inline-block;
    border: 3px solid hsl(48, 100%, 50%);
    margin: 6px;
    width: 300px;
    border-radius: 6px;
    overflow: hidden;
    transition: border 0.2s ease;
}

.gallery:hover {
    border: 5px solid hsl(0, 80%, 40%);
}

.gallery img {
    width: 100%;
    height: 200px;         
    object-fit: cover;      
    display: block;
}
