*{
    box-sizing: border-box;
}
body{
    margin: 0px;
    background-color: hsl(0, 0%, 7%);
    color: hsl(0, 0%, 90%);
    font-family: Arial, Helvetica, sans-serif;
}
main{
    margin-left: 25px;
    margin-right: 25px;
}
.logo {
    display: flex;
    align-items: center;
    gap: 10px; 
    font-size: 35px;
    font-weight: bold;
    color: hsl(48, 100%, 50%);
    text-shadow: 2px 2px 5px black;
}

.logo img {
    width: 45px;   
    height: auto;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header{
    background-color: hsl(0, 0%, 12%);
    text-align: center;
    padding: 20px 0;
    border-bottom: 3px solid hsl(0, 80%, 40%);
}
.navbar ul{
    list-style-type:none;
    background-color: #1c1c1c; 
    padding: 0px;
    margin: 0px;
    overflow:visible;
     background-color: hsl(0, 0%, 12%);
}
.navbar a{
    color: hsl(0, 0%, 98%);
    text-decoration: none;
    padding: 15px 20px;
    display: block;
    text-align: center;
    transition: 0.75s;
    font-weight: bold;

}
.navbar a:hover{
     background-color: hsl(0, 80%, 40%);
    color: hsl(48, 100%, 50%);
}
.menu{
    display: flex;
    align-items: center;
}
.navbar li{
    position: relative;
    float: none;
}
.nav {
    list-style: none;
}
.dropdown {
    position: relative; 
}
.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: hsl(0, 0%, 10%);
    min-width: 180px;
    border: 2px solid hsl(0, 80%, 40%);
    z-index: 10;
}
.dropdown-menu li {
    list-style: none;
}
.dropdown-menu a {
    display: block;
    padding: 10px;
    color: white;
    text-decoration: none;
}
.dropdown-menu a:hover {
    background-color: hsl(0, 80%, 40%);
}
.dropdown:hover .dropdown-menu {
    display: block;
}


section {
    width: 100%;   
    float: none;  
    display: block;
}
article {
    width: auto;   
    float: none;   
} 
footer{
    
    clear: both;
    background-color: hsl(0, 0%, 12%);
    text-align: center;
    padding: 20px;
     color: hsl(0, 0%, 80%);
    border-top: 3px solid hsl(0, 80%, 40%);
}
.footer-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
footer a:hover {
    color: white;
}
footer a {
    color: hsl(48, 100%, 50%);
    text-decoration: none;
    margin: 0 5px;
}
@media screen and (max-width:600px){
    section, article{
        width: 100%;
    }
    .header-container{
        flex-direction: column;
    }
    .menu{
        flex-direction:colum ;
        width: 100%;
    }
    .navbar a{
        padding:12px;
    }
     .navbar li {
        float: none;
    }
    .dropdown-menu{
        position: static;
        width: 100%;
    }
}
.profile-section {
    max-width: 500px;
    margin: 400px auto;
    min-height: ;
    padding: 25px;
    background-color: hsl(0, 0%, 12%);
    border: 2px solid hsl(0, 80%, 40%);
    text-align: center;
}

.profile-section h2 {
    margin-bottom: 20px;
    color: hsl(48, 100%, 50%);
}

.profile-section p {
    font-size: 16px;
    margin-bottom: 25px;
}

.profile-section a {
    display: inline-block;
    padding: 10px 20px;
    background-color: hsl(0, 80%, 40%);
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
}



